<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>

        <!-- ====== CSS Page ===== -->
        <link rel="stylesheet" href="css/semantic.min.css">
        <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="ui container">
        <div class="ui segment">
            <h1 class="ui header">
                <div class="contant">
                    Admin Dashboard
                </div>
            </h1>
            <button class="ui button inverted orange" onclick="gotoPage()">Add Faculty</button>
            <button class="ui button inverted orange" onclick="gotoPage()">Add Classrooms</button>
        </div>
    </div>
    
    <!-- ===========  JS File   ======== -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="backend_js/addNewFaculty.js"></script>
</body>
</html>