<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department</title>

        <!-- ====== CSS Page ===== -->
        <link rel="stylesheet" href="css/semantic.min.css">
        <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="ui container">
        <div class="ui segment">
            abhishek
        </div>
    </div>

    <!-- ===========  JS File   ======== -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="backend_js/addNewFaculty.js"></script>
</body>
</html>