<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GURL</title>
    
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-database.js"></script>

<script>
  
</script>
    <!-- ====== CSS Page ===== -->
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="ui container">
        <div class="ui segment basic very padded">
            <div class="ui segment raised orange tall stacked very padded login-panel">
                <h1 class="ui icon center aligned header">
                    <img class="ui image" src="images/Galgotias_University_logo.png" alt="GU ICON">
                    <div class="conent">
                        GURL
                        <div class="sub header">
                            GALGOTIAS UNIVERSITY RESOURCE LOCATER
                        </div>
                    </div>
                </h1>
                <div class="ui horizontal divider">ADMIN LOGIN</div>

                <form class="ui form huge">
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="adminLoginUserid" placeholder="User ID" autofocus required>
                            <i class="user icon"></i>
                        </div>

                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="password" id="adminLoginPass" placeholder="Password" required>
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui header center aligned">
                        <button type="button" id="adminLoginBtn" class="ui button orange inverted massive">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- <h1>GURL:</h1>
    <p>Galgotias University Resource Locater</p>
    <form action="" method="post">
        <label for=""> Enter your name</label>
        <input type="text" name="userName">
        <button type="submit">Send</button>
    </form> -->


    <!-- ===========  JS File   ======== -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="backend_js/adminLogin.js"></script>
</body>
</html>